body {
  background: #edf5fc;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 60px;
  color: #131200;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  color: #131200;
}

span {
  display: block;
}

select {
  display: flexbox;
  margin: 10px 0;
  width: auto;
  justify-content: left;
  padding: 5px 0;
  border-radius: 6px;
  padding: 5px;
}

footer {
  margin: 30px;
  font-size: 15px;
  color: #131200;
}

.container {
  background-color: #abd6ff;
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.submitButton {
  background-color: #cea6e5;
  padding: 5px;
  border: 1px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.addButton {
  background-color: #cea6e5;
  padding: 5px;
  border: 1px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
