body {
  background: #edf5fc;
  font-family: Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #131200;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  color: #131200;
}

.selectStrong {
  font-weight: bolder;
}

span {
  display: block;
}

select {
  display: flexbox;
  margin: 10px 0;
  width: auto;
  justify-content: space-between;
  padding: 5px 0;
}

.container {
  background-color: #a2d2ff;
  max-width: 400px;
  margin: 60px auto;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  place-items: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

select {
  border-radius: 10px;
  padding: 5px;
}

.submitButton {
  padding: 5px;
  border-radius: 10px;
}

.addButton {
  padding: 5px;
  border-radius: 10px;
}

footer {
  text-align: center;
  font-size: 15px;
  color: #131200;
}
